{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">

<div class="page-header" id="banner">
<div class="row">
<div class="col-lg-8 col-md-7 col-sm-6">
	<h1>Add Season to {{.series.Name}}</h1>
</div>
<div class="col-lg-4 col-md-5 col-sm-6">
<div class="sponsor">
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-4">
	<form action="/season/add/{{.series.Id}}" method="POST">
		<fieldset>
			<legend>Season Information</legend>
			<div class="field">
				<label for="username">Desired username :</label>
				<input id="username" type="text" name="username" value="{{.flash.username}}" />
			</div>
			<div class="field">
				<label for="firstname">First name :</label>
				<input id="firstname" type="text" name="firstname" size="30" value="{{.flash.firstname}}" />
			</div>
			<div class="field">
				<label for="lastname">Last name :</label>
				<input id="lastname" type="text" name="lastname" size="30" value="{{.flash.lastname}}" />
			</div>
			<div class="field">
				<label for="age">Age :</label>
				<input id="age" type="text" name="age" size="3" value="{{.flash.age}}" />
			</div>
		</fieldset>
	</form>
</div>
</div>
</div>
</div>




<ul>
</ul>

{{template "footer.html" . }}
