{{set . "title" "Home"}}
{{template "header.html" .}}

  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>{{.series.Name}}</h1>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="sponsor">
        <h1>SPONSOR</h1>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Seasons/Arcs</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
        {{ range $index, $season := .seasons }}
        <li class="list-group-item">{{$season.Name}}</li>
        {{ end }}
        </ul>
        <a href="/season/add/{{.series.Id}}">Add Season</a>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8">
	  CONTENT</br>MORE CONTENT
  </div>
</div>



{{template "footer.html" . }}
