{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4">
    </br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Series</h3>
      </div>
      <div class="panel-body list-group">
        {{ range $index, $series := .series }}
        <div class="list-group-item"><span class="badge">{{$series.EpisodeCount }}</span><a href="/series/{{$series.Id}}">{{$series.Name}}</a></div>
        {{ end }}
      </div>
      <a href="/series/add">Add Series</a>
    </div>
  </div>
</div>


{{template "footer.html" . }}
